<style>
  .logo{
    margin-left: 19%;
    
   
  
    text-shadow: 2px 2px 5px #36454F;
    font-weight: 600 !important;
    font-size:30px !important; 
    letter-spacing:1px;
    font-family: 'Roboto',sans-serif;
    
  }
  .logo1{
    color: #2EE59D !important;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 900;
    font-size:30px !important; 
  }
  .navbar {
    background-color:#fafafa !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-height:45px !important;
 }
 .mk{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-height:32px !important;
  margin-left: 22.5%;
  text-align: center;
  box-shadow: 0px 0px 50px 8px rgba(71, 200, 191, 0.15);


 }
 .mi{
   margin-top:-3px;
   margin-right:-12px;
 
 }
</style>



<!-- <nav class="navbar navbar-expand-lg bg navbar-light">
    <a class="navbar-brand logo mt-2" href="#">Helpthem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
 
      
     

<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
    </div>
  </nav> -->

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#">
      <img class="mi"  src="https://t3.ftcdn.net/jpg/02/25/04/40/360_F_225044038_mRRjftAXNNGeR3jK0IZnfmqTsiMEwrxZ.jpg" alt="" width="60" height="60" class="d-inline-block align-text-top">
      HelpUS
    </a>
  </div>
</nav>